body {
    font-family: "Courier", monospace;
    background-color: #222;
    color: #bbb;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

canvas {
    border: 1px solid gray;
    width: 650px;
    max-width: 100%;
}

.scorecard {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}